<div class="container static">
  <h2>About Cahoots</h2>
  <p>
    Cahoots is a social sharing tool designed to share your contact information, website, blog, and social media links in one place along with a picture and brief description.
  </p>

  <p>
    These condensed pieces of online identity follow the layout of a business card, but are referred to as <span class="bold">Social Cards</span>.
  </p>

  <h2>Why Social Cards?</h2>
  <p>
    We thought the term ‘online business card’ was too limited.  People can create a social card to share links and contact information for their personal online presence, an event, or a topic in addition to traditional uses of a business card.  A social card is simply a way to share the important contact information, links, and social media pages to create a unified online identity that can be shared through one link.
  </p>

  <h2>Using Social Cards</h2>
  <p>
    Social cards are designed to act as a stepping stone rather than a landing page.  Just five years ago the website was the hub of information and interaction.  Today online identity is extremely multi-dimensional with the rise of social media sites such as Facebook, Twitter, Pinterest, Instagram and Google Plus (to name a few).  Platforms outside of the primary website have become the hub of activity, news, and engagement.  A social card is designed to unite these many dimensions of online presence under one link that is easily shared anywhere.
  </p>
  <ul>
    <li>A social card may be linked to in lieu of a website where sharing space is limited</li>
    <li>Used in place of a business card</li>
    <li>Be linked to when connecting with new people</li>
  </ul>

  <h2>Advantages of Social Carding</h2>

  <ul>
    <li>It’s free to create and use a social card! (No shipping or printing fees)</li>
    <li>You can’t lose or forget a social card.</li>
    <li>It’s greener than using a paper business card.</li>
    <li>Updating your social card is extremely fast.</li>
    <li>Social cards make it easier to connect with friends, businesses, and brands across different social media channels.</li>
  </ul>

  <h2>Evolution of Social Cards</h2>
  <p>
    We are just launching the concept of social carding in June of 2013.  We are excited to involve the online community in the evolution and improvement of our concept.  While we have many ideas as to what direction social carding may take, our ultimate goal is to create something of value to our users that will make life easier.  Thus we are launching a simple, less presumptuous version of the social card and will be listening very closely to the feedback, usage, and imagination of our early adopters.
  </p>

  <p>
    If there is something you love or hate about social cards feel free to let us know (links to feedback form/email).
  </p>

  <p class="centered bottom">
    Thank You
  </p>

  <p class="centered bottom">
    Cah{o,o}ts
  </p>

  <div class="centered bottom">
    <%= image_tag "logo.png" %>
  </div>
</div>