<div class="container static">
  <h2>CAHOOTS TERMS OF SERVICE</h2>
  <h3>1.  Introduction</h3>
  <p>
    Welcome to Cahoots—an online service designed to help its Users share their social media presence.  Please read and agree to these Terms of Service and our Privacy Policy, as doing so is a condition of being permitted to use our Service.
  </p>
  <h3>2. Definitions</h3>
  <p>
    Throughout this document, we may use certain words or phrases, and it is important that you understand the meaning of them.  The following is a non-exhaustive list of definitions of words and phrases found in this document:
  </p>

  <ul>
    <li>
      “Cahoots” refers to our company, known as “Connext Community Networks, Inc.”; our Site; our Service; or a combination of all or some of the preceding terms, depending on the context of the word;
    </li>
    <li>
      “Service” refers to the services that we provide through our Site, including our social media presence sharing services and our Site itself;
    </li>
    <li>
      “Site” refers to our website, <a href="http://www.cahoots.com">www.cahoots.com</a>;
    </li>
    <li>
      “User” refers to registered and unregistered users of our Service, and without limiting the generality of the foregoing, includes general visitors to the Cahoots Site;
    </li>
    <li>
      “You” refers to you, the person who is governed by this Privacy Policy.
    </li>
  </ul>

  <h3>3.  What Cahoots Does</h3>
  <p>
    Our website, Cahoots, allows people to share their social media presence, website, blog, e-mail, a description, and other important contact information through one link, one code, one handle, or one QR code.  It is like a social network for social networks.  These easily shared snapshots of a User’s online presence are called “Social Cards.”
  </p>

  <h3>4.  Eligibility</h3>
  <p>
    In order to use our Service, you must meet a number of conditions, including but not limited to:
  </p>
  <ul>
    <li>You must not be in violation of any embargoes, export controls, or other laws of Canada or other countries having jurisdiction over this Agreement, Cahoots, and yourself.  For example, if the Department of Foreign Affairs and International Trade or any applicable statutes or regulations prohibit doing business with your country or nationals or businesses of your country, you must not use our Service.  You must also not use our Service to contravene the Export Control List (SOR/89-202).</li>
    <li>You must not have previously created any other profile with Cahoots unless we have given you permission to make multiple accounts.</li>
    <li>You must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, must not be less than 18 years of age.</li>
    <li>You must provide us with accurate information.</li>
  </ul>

  <h3>5.  Nature of Service</h3>
  <p>
    Cahoots permits you to share personal information about yourself.  You agree that we are not liable for any damages resulting from your posting of such information, and you should post information accordingly.
  </p>

  <h3>6.  Rules of Use</h3>
  <p>
    In addition to meeting the above eligibility criteria, you must not:
  </p>
  <ul>
    <li>Violate the laws of the Canada, its states, or any foreign political entity having jurisdiction over this Agreement, whether or not the foreign political entity is a country or a subdivision (such as a state or province) or municipality (such as a city, town, county, or region) of a foreign country.</li>
    <li>Post or send anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable according to the opinion of Canada or its delegates.</li>
    <li>Post requests for services which you have no intention of actually purchasing.</li>
    <li>Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate the rights of a third party.</li>
    <li>Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the Canada Site, Service, or its Users’ computers.</li>
    <li>Do anything else which could bring Cahoots into disrepute, or which infringes on the rights of any person.</li>
  </ul>

  <h3>7.  Our Copyright</h3>
  <p>
    You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on the Site without receiving our prior written permission.
  </p>

  <h3>8.  Your Copyright</h3>
  <p>
    We must be assured that we have the right to publish the content that you submit to us.  Whenever submitting content to our Site, you agree that you are granting us a non-exclusive, universal, perpetual, irrevocable, sublicensable, commercial and non-commercial right to use, distribute, sell, publish, and otherwise make use of the content that you submit to us.  You warrant to us that you have the right to grant us this right over the content, and that you will indemnify us for any loss resulting from a breach of this warranty and defend us against claims regarding the same.
  </p>

  <h3>9.  Trademarks</h3>
  <p>
    “Cahoots” is a trademark used by us, Connext Community Networks, Inc., to uniquely identify our Site, Service, and business.  You agree not to use this phrase anywhere without our prior written consent.  Additionally, you agree not to use our trade dress, or copy the look and feel of our website or its design, without our prior written consent.  You agree that this paragraph goes beyond the governing law on intellectual property law, and includes prohibitions on any competition that violates the provisions of this paragraph, including starting your own social networking website.
  </p>

  <h3>10.  Consumer Protection Provisions</h3>
  <p>
    Cahoots complies with the Business Practices and Corporations Act (SBC 2004 c. 2).  If you believe that we have infringed on any of your rights under this Act, please contact us at <a href="mailto:kjahrig@gmail.com">kjahrig@gmail.com</a>.  You may find out more about your rights by reading <a href="http://www.consumerprotectionbc.ca/consumers-alias/help-for-consumer-rights">http://www.consumerprotectionbc.ca/consumers-alias/help-for-consumer-rights</a> or writing to Consumer Protection BC at PO Box 9244, Victoria, British Columbia, V8W 9J2, Canada.
  </p>

  <h3>11.  Revocation of Consent</h3>
  <p>
    We may revoke our consent for your use of our intellectual property, or any other permission granted to you under this Agreement, at any time.  You agree that if we so request, you must take immediate action to remove any usage of our intellectual property that you may have engaged in, even if it would cause a loss to you.
  </p>

  <h3>12.  Representations & Warranties</h3>
  <p>
    WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE.  YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT.  TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.
  </p>
  <p>
    YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU.
  </p>
  <p>
    WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.
  </p>
  <p>
    THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT.  NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS & WARRANTIES” SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.
  </p>

  <p class="indent">
    <span class="bold">For Jurisdictions that do not allow us to limit our liability:</span> Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law.  Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.
  </p>
  <p>
    IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES.  FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."  YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE.  YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.
  </p>

  <h3>13.  Indemnity</h3>
  <p>
    You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our Site or acceptance of the offers contained on it.  You also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases.  You agree that this indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements.  In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.
  </p>

  <h3>14.  Choice of Law</h3>
  <p>
    This Agreement shall be governed by the laws in force in the Province of British Columbia.  The offer and acceptance of this contract are deemed to have occurred in the Province of British Columbia.
  </p>

  <h3>15.  Forum of Dispute</h3>
  <p>
    You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in the Province of British Columbia.  Specifically, where the subject matter of a dispute is eligible for it, you agree that any disputes shall be heard solely within the Provincial Court of the Province of British Columbia (“Small Claims Court”) in accordance with the Small Claims Act (RSBC 1996 c. 430).
  </p>
  <p>
    If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by the Small Claims Court, you agree not to bring the other claims against us and to instead proceed within the Small Claims Court.
  </p>
  <p>
    If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the Small Claims Court, you agree to waive your right to collect any damages in excess of the monetary jurisdiction and instead still bring your claim within the Small Claims Court.  At the time of drafting this Agreement, the monetary jurisdiction of the Small Claims Court is $25,000.
  </p>
  <p>
    You agree that if a dispute is eligible to be heard in Small Claims Court but you would be entitled to an additional or alternative remedy in a higher court, such as injunctive relief or libel or slander, you will waive your right to that remedy and still bring the dispute within the Small Claims Court.
  </p>
  <p>
    If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys’ fees, court costs, and disbursements in doing so.
  </p>
  <p>
    You agree that the unsuccessful party in any dispute arising from or relating to this Agreement will be responsible for the reimbursement of the successful party’s reasonable attorneys’ fees, court costs, and disbursements.
  </p>

  <h3>16.  Force Majeure</h3>
  <p>
    You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.
  </p>

  <h3>17.  Severability</h3>
  <p>
    In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.
  </p>

  <p>
    If two or more provisions of this Agreement are deemed to conflict with each other’s operation, Cahoots shall have the sole right to elect which provision remains in force.
  </p>

  <h3>18.  Non-Waiver</h3>
  <p>
    Cahoots reserves all rights afforded to us under this Agreement as well as under the provisions of any applicable law.  Our non-enforcement of any particular provision or provisions of this Agreement or any applicable law should not be construed as our waiver of the right to enforce that same provision under the same or different circumstances at any time in the future.
  </p>

  <h3>19.  Termination & Cancellation</h3>
  <p>
    We may terminate your account or access as well as access to our Site and Service to you at our discretion without explanation, though we will strive to provide a timely explanation in most cases.  Our liability for refunding you, if you have paid anything to us, will be limited to the amount you paid for goods or services which have not yet been and will not be delivered, except in cases where the termination or cancellation was due to your breach of this Agreement, in which case you agree that we are not required to provide any refund or other compensation whatsoever.
  </p>

  <p>
    Under no circumstances, including termination or cancellation of our Service to you, will we be liable for any losses related to actions of other Users.
  </p>

  <h3>20.  Assignment of Rights</h3>
  <p>
    You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent.  We may assign our rights and/or obligations under this Agreement to any other party at our discretion.
  </p>

  <h3>
    21.  Amendments
  </h3>

  <p>
    We may amend this Agreement from time to time.  When we amend this Agreement, we will post the changes here and e-mail you to tell you that there has been a change.  Your continued use of our Service constitutes your acceptance of any such changes.
  </p>

  <h3>
    22.  California Users and Residents
  </h3>
  <p>
    Pursuant to California Civil Code Section 1789.3, any questions about pricing, complaints, or inquiries about Cahoots must be addressed to our agent for notice and sent via certified mail to our agent for service, whose most current information can be obtained by sending a request to <a href="mailto:info@cahoots.com">info@cahoots.com</a>.
  </p>

  <p>
    Lastly, California users are also entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.
  </p>

  <p>
    Last Modified:  June 20, 2013
  </p>

</div>